.SameCheckboxBefore {
  content: '';
  display: inline-block;
  width: 22px;
  height: 22px;
  margin-right: 17px;
  position: relative;
  background: @main;
  cursor: pointer;
  top: -2px;
  box-sizing: border-box;
  border-radius: 3px;
  border: 2px solid @inactive;
}
.SameCheckbox {
  text-transform: uppercase;
  margin-right: 20px;
}
.wrap_category__check {
  background: @blocks;
  width: 100%;
}
.category__check {
  width: 100%;
  max-width: 1087px;
  background: @blocks;
  height: 142px;
  display: flex;
  padding: 20px;
  box-sizing: border-box;
  margin: 0 auto 20px;
  justify-content: space-between;
  align-items: center;
  .responsive(@mobile,{
      flex-direction: column;
      height: 190px;
  });
  &_checkboxes {
    display: flex;
    align-items: center;
    label {
      display: flex;
      align-items: center;
    }
    label + input {
      display: none;
    }
    .responsive(@mobile,{
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-around;
      height: 100px;
    });
  }
  &_button {
    background: @decor;
    border-radius: 4px;
    padding: 18px 36px;
    color: @main;
    border: 0;
    font-size: 12px;
    font-family: 'quicksandbold', sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    .responsive(@tablet,{
      padding: 18px 20px;
    });
  }
  &_false {
    .SameCheckbox;
    &:before {
      .SameCheckboxBefore
    }
  }
  &_true {
    .SameCheckbox;
    &:before {
      .SameCheckboxBefore;
      border: 2px solid @decor;
      background: @main @arrows no-repeat 1px 3px;
    }
  }
}