.slider__wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  overflow: hidden;
  max-width: 1087px;
  min-width: 300px;
}
.slider__unit {
  border: 3px solid @blocks;
  background: @blocks;
  width: 307px;
  height: 365px;
  display: flex;
  flex-direction: column;
}