.hr {
  width: 100%;
  max-width: 1087px;
  height: 3px;
  background: @inactive;
  display: inline-block;
  margin-bottom: 50px;
}
.catalog__wrap slider:nth-child(2*n) {
  .slider_title {
    float: left;
  }
}
.catalog__wrap slider:nth-child(2*n + 1) {
  .slider_title {
    float: right;
  }
}
.slider{
  &_title {
    text-transform: uppercase;
    font-size: 20px;
    padding-right: 40px;
    background: @main;
    display: inline-block;
    position: relative;
    top: -8px
  }
  &_pagination {
    width: 100%;
    max-width: 1087px;
    color: @decor;
    display: block;
    text-align: right;
    margin-bottom: 15px;
    p {
      font-size: 15px;
      margin-bottom: 3px;
    }
    .prev, .next {
      display: inline-block;
      width: 11px;
      height: 13px;
      cursor: pointer;
      &:hover {
        opacity: 0.8;
      }
    }
    .prev {
      background: @arrows no-repeat -14px 0;
    }
    .next {
      background: @arrows no-repeat -31px 0;
    }
  }
  &__wrap{
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    align-items: stretch;
    flex-wrap: nowrap;
    overflow: hidden;
    max-width: 1087px;
    width: 100%;
    margin-bottom: 100px;
    .responsive(@mobile,{
      width: 300px;
    });
  }
  &__unit {
    border: 5px solid @blocks;
    background: @blocks;
    height: 365px;
    margin-right: 60px;
    display: flex;
    min-width: (@maxWrapWidth/3 + 60/3 - 65)/@maxWrapWidth * 100%;
    max-width: (@maxWrapWidth/3 + 60/3 - 65)/@maxWrapWidth * 100%;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    padding: 18px 17px 23px;
    cursor: pointer;
    box-sizing: border-box;
    .responsive(@desctop, {
      margin-right: 15px;
      min-width: (@maxWrapWidth/3 + 15/3 - 20)/@maxWrapWidth * 100%;
      max-width: (@maxWrapWidth/3 + 15/3 - 20)/@maxWrapWidth * 100%;
    });
    .responsive(@mediumDesctop, {
      margin-right: 60px;
      min-width: (@mediumDesctop/2 + 60/2 - 90)/@mediumDesctop * 100%;
      max-width: (@mediumDesctop/2 + 60/2 - 90)/@mediumDesctop * 100%;
    });
    .responsive(@tablet,{
      margin-right: 25px;
      min-width: (@tablet/2 + 25/2 - 30)/@tablet * 100%;
      max-width: (@tablet/2 + 25/2 - 30)/@tablet * 100%;
    });
    .responsive(@mobile,{
      width: 300px;
      margin-right: 0;
      min-width: 300px;
      max-width: 300px;
    });
    &:last-child {
      margin-right: 0;
    }
    &:hover {
      border-color: @decor;
      border-radius: 2px;
    }
    &_nmp {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .price {
        font-size: 22px;
        span {
          font-family: sans-serif;
          font-weight: 100;
        }
      }
      .name {
        color: @decor;
      }
    }
    &_szc {
      display: flex;
      justify-content: space-between;
    }
    &_img {
      display: flex;
      justify-content: center;
    }
  }
}
.color-round {
  border-radius: 50%;
  width: 22px;
  height: 22px;
  display: inline-block;
  margin-right: 4px;
}